/target/
/log/
/data/
*.log

application-map.properties

### STS ###
.classpath
.factorypath
.project
.settings

### IntelliJ IDEA ###
.idea
*.iml
*.eml

# Package Files #
*.jar
!maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar

# VS Code #
.vscode/
!.vscode/settings.json
